@media only screen and (max-width: 1024px) {
#header-nav,#header-nav-inr{position:relative !important; top:0 !important;}
#cssmenu {
	margin-top: 30px;
}
.owl-carousel .owl-buttons .owl-next {
	right: -37px;
}
.owl-carousel .owl-buttons .owl-prev {
	left: -37px;
}
#cssmenu {
	z-index:999;
}
#carousel_featuredCategory .sdvs img {
	width: 100%;
}
#cssmenu > ul > li {
	border-bottom: 1px solid #fff;
}
#cssmenu > ul > li > a {
    line-height: 25px;
    color: #fff;
    padding: 5px 20px;
    margin: 0;
    border-bottom: 1px solid #4F4F4F;
    display: block;
}
#cssmenu ul.open {
	background: #363636;
	position:absolute;
	top:20px;
	right:0;
}
#cssmenu ul.open .open {
	position: relative;
	top: 0;
}
#cssmenu > ul > li.has-sub > a {
	padding-right: 60px;
}
#cssmenu ul ul li a {
	text-align:right;
}
#cssmenu {
 width: 100%;
}
.rit_mnu_log{display:none;}
#cssmenu #menu-button {
    display: block;
}
 #cssmenu ul {
 width: 100%;
 display: none;
}
 #cssmenu.align-center > ul {
 text-align: left;
}
 #cssmenu ul li {
 width: 100%;
 border: 0;
}
 #cssmenu ul ul li, #cssmenu li:hover > ul > li {
 height: auto;
}
#cssmenu ul ul li a {
 width: 100%;
 border-bottom: 0;
}
 #cssmenu > ul > li {
 float: none;
}
 #cssmenu ul ul li a {
 padding-left: 25px;
}
 #cssmenu ul ul ul li a {
 padding-left: 35px;
}
 #cssmenu ul ul li a {
 color: #dddddd;
 background: none;
}
 #cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
 color: #ffffff;
}
 #cssmenu ul ul, #cssmenu ul ul ul, #cssmenu.align-right ul ul {
 position: relative;
 left: 0;
 width: 100%;
 margin: 0;
 text-align: left;
}
 #cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul > li.has-sub > a:after, #cssmenu ul ul > li.has-sub > a:before {
 display: none;
}
 #cssmenu #menu-button {
    display: block;
    color: #000;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding-right: 48px;
    text-align: right;
}
 #cssmenu #menu-button:after {
 position: absolute;
 top: 7px;
 right: 17px;
 display: block;
 height: 8px;
 width: 20px;
 border-top: 2px solid #000;
 border-bottom: 2px solid #000;
 content: '';
}
 #cssmenu #menu-button:before {
 position: absolute;
 top: 0px;
 right: 17px;
 display: block;
 height: 2px;
 width: 20px;
 background: #000;
 content: '';
}
 #cssmenu #menu-button.menu-opened:after {
 top: 4px;
 border: 0;
 height: 2px;
 width: 15px;
 background: #000;
 transition:all 0.35s ease 0s;
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
}
 #cssmenu #menu-button.menu-opened:before {
 top: 4px;
 background: #000;
 width: 15px;
 transition:all 0.35s ease 0s;
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
 #cssmenu .submenu-button {
 position: absolute;
 z-index: 99;
 right: 0;
 top: 0;
 display: block;
 border-left: 1px solid #fff;
 height: 46px;
 width: 46px;
 cursor: pointer;
}
 #cssmenu .submenu-button.submenu-opened {
 background: #000;
}
 #cssmenu ul ul .submenu-button {
 height: 34px;
 width: 34px;
}
 #cssmenu .submenu-button:after {
 position: absolute;
 top: 22px;
 right: 19px;
 width: 8px;
 height: 2px;
 display: block;
 background: #dddddd;
 content: '';
}
 #cssmenu ul ul .submenu-button:after {
 top: 15px;
 right: 13px;
}
 #cssmenu .submenu-button.submenu-opened:after {
 background: #ffffff;
}
 #cssmenu .submenu-button:before {
 position: absolute;
 top: 19px;
 right: 22px;
 display: block;
 width: 2px;
 height: 8px;
 background: #dddddd;
 content: '';
}
 #cssmenu ul ul .submenu-button:before {
 top: 12px;
 right: 16px;
}
 #cssmenu .submenu-button.submenu-opened:before {
 display: none;
}
#menu-line{display:none !important;}
.logo_sc {
    width: 26%;
}
.menu_sc {
    width: 70%;
}

.wt_we_ofr_con h3 strong,
.qryfme_sc_con h3 strong,.abt_roi_lft h3 strong, .who_do_we_con h3 strong, .prtn_scn_in h3 strong, .about_sc_inr h3 strong, .tak_lok_con h3 strong, .roi_instu_con h3 strong, .foll_sc_con h3 strong, .wht_th_clnt_con h3 strong, .hv_mrque h3 strong {
    font-size: 150%;
    line-height: 50px;
}
.footer {
    padding-bottom: 0;
}
.owl-controls.clickable {
    display: none !important;
}
.serc_cour_sc_inr input[type="text"]{width:55%;}
.cour_dtl_dv img {
    width: 100%;
}
.ban_con h5{display:none;}
.abtsroinst ul {
    grid-template-columns: 31% 31% 31%;
}
.owl-carousel .owl-buttons .owl-next{right:-30px;}
.mbr_prof_dv_rt li span {
    width: 34%;
}
.vdeo_sc iframe {
    width: 100%;
}
.dt_bkng_lf {
    float: none;
}
.dt_bkng_rt {
    float: none;
}
.dt_bkng_rt_prc {
    float: left;
}
.dt_bkng_rt_prc_bnt {
    float: right;
}
.dt_bkng_rt_prc strong{margin-top:10px;}
}
@media only screen and (max-width: 1000px) {
.abut-cont-us .col-lg-3.col-md-12 {
	border-right: 0;
}
.col-lg-3.col-md-3.ofr-img {
	display: none;
}
.discount_secn .col-lg-6.col-md-6 {
	width: 100%;
	max-width: 100%;
	text-align: center;
	flex: 100%;
}
.discount_secn .col-lg-3.col-md-3.col-sm-12 {
	width: 100%;
	flex: 100%;
	max-width: 100%;
	text-align: center;
}
}
@media only screen and (max-width: 900px) {
.banner-part.hme-bn {
	min-height: inherit;
}
.nav-tabs > li > a {
	padding: 23px 40px;
}
.checkout_paymnt .md-form.mb-4, .checkout_paymnt .md-form.mb-5, .checkout_paymnt .md-form.mb-3 {
	width:auto;
}
.email_contne .md-form.mb-3 {
	padding-left:0;
}
.othrs_servce li {
	margin-top:20px;
}
}
@media only screen and (max-width: 768px) {
.owl-carousel .owl-buttons .owl-next {
	right: -30px;
}
.banner-frme .container-bn {
	width: 98%;
	margin-bottom:20px;
}
.ban_btme {
	position: relative;
	width: auto;
	border: 0;
}
.abut-cont-indv {
	border-bottom: 1px dashed #fff;
	padding-bottom: 20px;
}
.abutbtme_sec, .saving-sec, .pagkng_dv, .bestselling_dv, .wy_book, .partnr-secn, .customr_revw, .othrs_servce {
	padding: 40px 0 40px;
}
#slider1_container {
	width: auto !important;
}
.cont-us {
	padding:20px 0;
}
.othrs_servce h2 {
	font-size: 28px;
	line-height:30px;
	margin-bottom:20px;
}
.con_blo h2, .cont-us h2 {
	font-size: 28px;
	line-height:30px;
}
.contact-form-sec .btn.btn-primary {
	font-size: 20px;
	line-height: 25px;
	height: 100px;
	margin:0 auto;
	float:none;
	display:block;
}

.room_night_btn p, .trmcon a {
	margin-top:7px;
}
.innre-main {
	padding-top: 20px;
}
.hdr_secn strong {
	font-size:18px;
}
.abutbtme_sec .col-lg-3.col-md-6.col-12 {
	margin-bottom:20px;
	text-align:center
}
.soc_clk {
    /*display: block;*/
    height: 35px;
    width: 35px;
    cursor: pointer;
    background: #fff url("../images/socl-aro.png") center center no-repeat;
    position: absolute;
    left: 30px;
}
/*.socl_fx ul{opacity:0; transition:all 0.45s ease 0.45s; right: -47px; position: absolute;}
.socl_fx ul.slide{opacity:1; right:0;}
.socl_fx {
    width: 113px;
}*/
.socl_fx ul li {
    width: 30px;
    height: 35px;
}
.socl_fx {
    width: 30px;
}
.wy_in {
    margin-bottom: 50px;
}
.socl_fx ul li a i{font-size:16px;}
.md-form.mb-0.dtpclk,.md-form.mb-0.for_hwe{width:100%;}
.ban_con strong {
    font-size: 340%;
    line-height: 40px;
}
.ban_con p {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 0;
}
.ban_con {
    right: 4%;
    top: 8%;
    width: 61%;
}
.ban_btn a {
    font-size: 12px;
    line-height: 20px;
    padding: 6px 7px;
}
.ban_btn a:last-child {
    padding-left: 46px;
    margin-left: 0px;
}
.ban_con h5{display:none;}
.sldr {
    position: relative;
}
.ban_con h6 {
    font-size: 100%;
    line-height: 27px;
    padding-top: 0;
}
.ban_con h6 span {
    font-size: 100%;
    line-height: 20px;
}
.cour_dtl_in_sec {
    grid-template-columns: 100%;
}
.serc_cour_sc_inr input[type="date"] {
    width: 23%;
    padding: 1% 0% 1% 6%;
}
.serc_cour_sc_inr input[type="text"] {
    width: 36%;
}
.con_dtls_lft {
    float: none;
    width: 100%;
}
.con_dtls_rit {
    float: none;
    width: 100%;
    margin-top: 20px;
}
}
@media only screen and (max-width: 767px) {
.col-lg-9.col-md-6.col-12.text-right.pgnes {
	margin-top:10px;
}
.room_night_btn p, .trmcon a {
	margin-top:0;
}
.detl_in_lef {
	float: none;
	width: 100%;
	border-right:0;
	border-bottom: 1px dashed #b8b8b8;
	padding-bottom:10px;
	margin-bottom:10px;
	padding-right: 0;
}
.detl_in_rit {
	float: none;
	width: 100%;
}
.card_btnes {
	text-align:center;
}
.card_btnes .btn.btn-primary {
	padding: 20px 10px;
	float:none !important;
}
.footer h4 {
	text-align:center;
	margin-bottom:10px;
}
.footer .nwsltre button {
	margin-bottom:30px;
}
.cont-indv {
	margin-bottom: 24px;
}
.abt_roi_lft {
    float: none;
    width: auto;
    border-right: 0;
    padding-right: 2%;
    margin-right: 0;
    border-bottom: 1px solid #993551;
    margin-bottom: 3%;
}
.abt_roi_rit {
    float: none;
    width: auto;
}
.abtsroinst ul {
    grid-template-columns: 50% 50%;
}
.mbr_prof_dv_lf {
    float: none;
    width: auto;
}
.mbr_prof_dv_rt {
    float: none;
    width: auto;
    margin: 20px 0 0;
}
.serc_cour_sc_inr label {
    width: auto;
    display: block;
}
.serc_cour_sc_inr input[type="text"] {
    width: 100%;
    display: block;
	margin-bottom:10px;
	padding-top:2.1%;
	padding-bottom:2.1%;
}
.serc_cour_sc_inr input[type="date"] {
    width: 50%;
    padding: 2.1% 0% 2.1% 10%;
    margin-left: 0;
	background-position: 5px center;
	background-size:20px;
}
.serc_cour_sc_inr input[type="button"]{width:48%;}
}
@media only screen and (max-width: 650px) {
.ban_con h4 {
    font-size: 130%;
    line-height: 20px;
}
.ban_con strong {
    font-size: 150%;
    line-height: 16px;
}
.ban_con{top:15%;}
.ban_con p {
    font-size: 8px;
    line-height: 12px;
    padding: 2px 0;
}
.ban_btn a {
    font-size: 10px;
    line-height: 14px;
    padding: 3px 5px;
	width:150px;
}
.ban_btn a:last-child {
    padding-left: 28px;
    margin-left: 0px;
    margin-top: 3px;
    background-size: 13px;
}
.tak_lok_con_in,
.who_do_we_in,
.cor_cn_tr_in {
    grid-template-columns: 100%;
    text-align: center;
}
.cor_cn_tr_sc_dv a{margin-left:auto; margin-right:auto;}
.cor_cn_tr_sc_dv{margin-bottom:20px; border-bottom:1px solid #a64e67; padding-bottom:20px;}
.cor_cn_tr_sc_dv, .who_do_we_in_sc {
    margin-bottom: 20px;
    border-bottom: 1px solid #a64e67;
    padding-bottom: 20px;
}
.tak_lok_con_dv{margin-bottom:20px;}
.cor_cn_tr_sc_dv strong{text-align:left;}
.hire_inr_dv_sc:last-child {
    margin-left: 0;
    margin-top: 20px;

}
.hire_inr_dv_sc {
    width: 100%;
    text-align: center;
    display: block;

}
.footr_dv,
.qryfme_sc_frm,
.wht_th_clnt_sc {
    grid-template-columns: 100%;
}
.qryfme_sc_frm_dv {
    margin-top: 20px;
}
.contact_scb {
    margin: 30px 0;
    text-align: center;
}
.foot_losec{text-align:center;}
.contact_scb a {
    margin: 40px auto 0;
}
.wht_th_sc_in {
    display: block;
    width: auto;
    margin-left: 0;
    text-align: center;
}
.wht_th_sc img {
    display: block;
    margin: 0 auto;
}
}
@media only screen and (max-width: 570px) {
.owl-carousel .owl-buttons .owl-next {
	right: -10px;
}
.owl-carousel .owl-buttons .owl-prev {
	left: -10px;
}
.partnr-secn li {
	display: block;
	margin: 0 auto 20px;
}
.nav-tabs {
	margin: 0 0 10px 0;
	padding: 0 2px;
}
.nav-tabs > li > a {
	padding: 5px 8px;
}
.nav-tabs > li > a strong {
	font-size: 12px;
}
.card_btnes .btn.btn-primary {
	padding: 10px 30px;
	display:block;
	margin:0 auto 10px;
	float:none !important;
	width: 54%;
}
.checkout_paymnt .md-form.mb-1 {
	width: 100%;
}
.checkout_paymnt .md-form.mb-2 {
	width: auto;
}
.othrs_servce li {
	width: 38%;
}
.logo_sc img {
    width: 100%;
}
.logo_sc {
    width: 40%;
}
.menu_sc {
    width: 50%;
}
#cssmenu {
    margin-top: 0;
}
.logo_sc a{padding:0;}
.abt_roi_lft h3 strong, .who_do_we_con h3 strong, .prtn_scn_in h3 strong, .about_sc_inr h3 strong, .tak_lok_con h3 strong, .roi_instu_con h3 strong, .foll_sc_con h3 strong, .wht_th_clnt_con h3 strong, .hv_mrque h3 strong {
    font-size: 110%;
    line-height: 30px;
}
.container {
    max-width: 94%;
}
.vdeo_sc iframe {
    height: 244px;
	display:block;
}
}
@media only screen and (max-width: 460px) {
.ban_con{top:0;}

.hire_inr_dv_sc img {
    display: block;
    width: 100%;
}
.about_sc_inr a{width:auto;}
.container {
    max-width: 96%;
}
.qryfme_sc_frm_dv_inr{grid-template-columns: 100%;}
.abtsroinst ul {
    grid-template-columns: 100%;
}
.abtsroinst ul li span{width:20px;}
.abtsroinst ul li span img{width:100%; display:block;}
.abtsroinst ul li strong {
    width: auto;
    font-size: 13px;
}
.dt_bkng_rt {
    float: none;
    margin: 20px auto 0;
}
.dt_bkng_lf {
    float: none;
    text-align: center;
}
.dt_bkng_lf a{
    margin: 0 auto;
}
.serc_cour_sc_inr input[type="button"] {

    width: 47%;

}
}
@media only screen and (max-width: 400px) {
.find_btn {
	width: auto;
	margin-top: 10px;
}
.discount_secn h4 strong {
	display:block;
}
.top_srce_ces .text-right button.btn.prv-nxt-btn {
	padding: 5px 9px;
}
.offresw {
	width: 90px;
	font-size: 14px;
	line-height: 14px;
	padding: 5px 0;
}
.othrs_servce li {
	width: 50%;
	border-bottom:1px dashed #fff;
	padding-bottom:20px;
}
.nav-tabs > li > a {
	padding: 5px 7px;
}
.top_secn_l{display:none;}
.serc_cour_sc_inr input[type="button"] {
   padding: 1.52% 0;
}
.dt_bkng_rt_prc {
    float: none;
    display: block;
    text-align: center;
    margin: 0 0 20px;
}
.dt_bkng_rt_prc_bnt {
    float: none;
    display: block;
    text-align: center;
}
.dt_bkng_rt a {
    display: block;
    margin: 12px auto 0;
}
}
@media only screen and (max-width: 330px) {
.nav-tabs > li > a {
	padding: 5px 4px;
}
}
