@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Open Sans', sans-serif;
	/*background:#e8eaea;*/
	background:#fff;
	color:#181c1e;
	font-size:14px;
}
.clear {
	clear:both;
	padding:0;
	margin:0;
}
p, h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}
.container h2 {
	font-size: 38px;
	font-weight: 900;
	color: #16232b;
	line-height: 40px;
	margin-bottom:10px;
}
p {
	color:#75797e;
	font-size:15px;
	line-height:30px;
}
ul {
	list-style-type:none;
	padding:0;
	margin:0;
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#cssmenu:after, #cssmenu > ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#cssmenu #menu-button {
	display: none;
}
#cssmenu {
}
#cssmenu > ul > li {
	display:inline-block;/*border-right:1px solid #e2e4e4;
	margin-left:-4px;*/
	
}
#cssmenu > ul > li:last-child {
	border:0;
}
#cssmenu.align-center > ul {
	font-size: 0;
	text-align: center;
}
#cssmenu.align-center > ul > li {
	display: inline-block;
	float: none;
}
#cssmenu.align-center ul ul {
	text-align: left;
}
#cssmenu.align-right > ul > li {
	float: right;
}
.head_top {
	padding:16px 0;
}
#cssmenu > ul > li:last-child a {
	border:0;
}
#cssmenu > ul > li > a {
	margin: 0 10px;
	padding:21px 0;
	border: 0;
	color:#363636;
	list-style: none;
	line-height: 14px;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight:400;
	border-bottom:4px solid transperent;
	text-transform:uppercase;
}
#menu-line {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	background: 
 #f57300;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}
#cssmenu > ul > li:last-child a {
}
#cssmenu > ul > li.has-sub > a {
	padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
	position: absolute;
	top: 50px;
	right: 11px;
	width: 12px;
	height: 8px;
	display: block;
	background: url(../images/select-aro.png) 0 0 no-repeat;
	content: '';
}
#cssmenu > ul > li.has-sub:hover a:after {
	background: url(../images/select-aroh.png) 0 0 no-repeat;
}
/*#cssmenu > ul > li.has-sub > a:before {
	position: absolute;
	top: 50px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #dddddd;
	content: '';
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}*/
#cssmenu > ul > li.has-sub:hover > a:before {
	top: 23px;
	height: 0;
}
#cssmenu ul ul {
	position: absolute;
	left: -9999px;
}
#cssmenu.align-right ul ul {
	text-align: right;
}
#cssmenu ul ul li {
	height: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
#cssmenu li:hover > ul {
	left: auto;
}
#cssmenu.align-right li:hover > ul {
	left: auto;
	right: 0;
}
#cssmenu li:hover > ul > li {
	height: 35px;
}
#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0;
}
#cssmenu.align-right ul ul ul {
	margin-left: 0;
	margin-right: 100%;
}
#cssmenu ul ul li a {
	border-bottom: 1px solid rgba(150, 150, 150, 0.15);
	padding: 11px 15px;
	width: 170px;
	font-size: 12px;
	text-decoration: none;
	color: #dddddd;
	font-weight: 400;
	background: #333333;
}
#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
	border-bottom: 0;
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
	color: #ffffff;
}
#cssmenu ul ul li.has-sub > a:after {
	position: absolute;
	top: 16px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #dddddd;
	content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
	right: auto;
	left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
	position: absolute;
	top: 13px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #dddddd;
	content: '';
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
	right: auto;
	left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
	top: 17px;
	height: 0;
}
#cssmenu > ul > li.active > a, #cssmenu > ul > li:hover > a {border-top:1px solid #4b5356;border-bottom:1px solid #4b5356; text-decoration:none;}
}
@media all and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
 #cssmenu {
 width: 100%;
}
 #cssmenu ul {
 width: 100%;
 display: none;
}
 #cssmenu.align-center > ul {
 text-align: left;
}
 #cssmenu ul li {
 width: 100%;
 border: 0;
}
 #cssmenu ul ul li, #cssmenu li:hover > ul > li {
 height: auto;
}
 #cssmenu ul li a, #cssmenu ul ul li a {
 width: 100%;
 border-bottom: 0;
}
 #cssmenu > ul > li {
 float: none;
}
 #cssmenu ul ul li a {
 padding-left: 25px;
}
 #cssmenu ul ul ul li a {
 padding-left: 35px;
}
 #cssmenu ul ul li a {
 color: #dddddd;
 background: none;
}
 #cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
 color: #ffffff;
}
 #cssmenu ul ul, #cssmenu ul ul ul, #cssmenu.align-right ul ul {
 position: relative;
 left: 0;
 width: 100%;
 margin: 0;
 text-align: left;
}
 #cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul > li.has-sub > a:after, #cssmenu ul ul > li.has-sub > a:before {
 display: none;
}
 #cssmenu #menu-button {
 display: block;
 color: #000;
 cursor: pointer;
 font-size: 12px;
 text-transform: uppercase;
 font-weight: 700;
 padding-right:48px;
}
 #cssmenu #menu-button:after {
 position: absolute;
 top: 7px;
 right: 17px;
 display: block;
 height: 8px;
 width: 20px;
 border-top: 2px solid #000;
 border-bottom: 2px solid #000;
 content: '';
}
 #cssmenu #menu-button:before {
 position: absolute;
 top: 0px;
 right: 17px;
 display: block;
 height: 2px;
 width: 20px;
 background: #000;
 content: '';
}
 #cssmenu #menu-button.menu-opened:after {
 top: 4px;
 border: 0;
 height: 2px;
 width: 15px;
 background: #000;
 transition:all 0.35s ease 0s;
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
}
 #cssmenu #menu-button.menu-opened:before {
 top: 4px;
 background: #000;
 width: 15px;
 transition:all 0.35s ease 0s;
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
 #cssmenu .submenu-button {
 position: absolute;
 z-index: 99;
 right: 0;
 top: 0;
 display: block;
 border-left: 1px solid #fff;
 height: 46px;
 width: 46px;
 cursor: pointer;
}
 #cssmenu .submenu-button.submenu-opened {
 background: #000;
}
 #cssmenu ul ul .submenu-button {
 height: 34px;
 width: 34px;
}
 #cssmenu .submenu-button:after {
 position: absolute;
 top: 22px;
 right: 19px;
 width: 8px;
 height: 2px;
 display: block;
 background: #dddddd;
 content: '';
}
 #cssmenu ul ul .submenu-button:after {
 top: 15px;
 right: 13px;
}
 #cssmenu .submenu-button.submenu-opened:after {
 background: #ffffff;
}
 #cssmenu .submenu-button:before {
 position: absolute;
 top: 19px;
 right: 22px;
 display: block;
 width: 2px;
 height: 8px;
 background: #dddddd;
 content: '';
}
 #cssmenu ul ul .submenu-button:before {
 top: 12px;
 right: 16px;
}
 #cssmenu .submenu-button.submenu-opened:before {
 display: none;
}
}
.cssmenu li.active a, .cssmenu li:hover a {
	color:#ea2c00;
	text-decoration:none;
}
.cssmenu li a {
	text-transform: uppercase;
	color: #1b1e20;
	font-weight: 600;
	display: block;
	padding: 10px 10px;
}
.cssmenu li:last-child {
	border-right:0;
}
.cssmenu li {
	display: inline-block;
	border-right:1px solid #e2e4e4;
}
.nav-secn {
	background:#007ccb;
}
.foot_socl {
	text-align: left;
	margin-top:20px;
}
.foot_menu {
	margin:10px 0;
}
.foot_socl li {
	display:inline-block;
}
.foot_socl li a {
	display: block;
	background:#4c5353;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	color:#dadddd;
	padding-top: 7px;
	font-size: 18px;
	text-align: center;
}
.foot_menu li {
	display:inline-block;
	margin:0 10px;
	color:#277d7c;
	text-transform:uppercase;
}
.foot_menu li a {
	color:#454648;
	font-size:12px;
	line-height:14px;
	padding-right:10px;
}
.footre_log {
	position: relative;
}
.footer {
	background:#800225;
	padding:50px 0 50px;
}
.footer h4 {
	color:#fff;
	font-size:17px;
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:20px;
}
.footer p {
	color:#f4b4b4;
	font-size: 13px;
	line-height: 23px;
	padding-bottom: 0px;
	font-weight: 400;
}
.footer .nwsltre {
	text-align:center;
}
.footer .nwsltre img {
	margin-top:-130px;
	margin-bottom:20px;
}
.footer .nwsltre button {
	margin-top: 10px;
	width: 100%;
}
.copyrit {
	background:#dadddd;
	padding:20px 0;
	border-top: 1px solid #fff;
}
.copyrit p {
	color:#606164;
	font-size: 12px;
	line-height: 34px;
}
.sdvs_inr {
	overflow:hidden;
	border-top:1px solid #cbcbcb;
}
.sdvs_inr_lf {
	float:left;
	border-right:1px solid #cbcbcb;
	padding:20px 6px;
	color:#737373;
	font-size:12px;
	text-align:left;
	line-height:14px;
}
.sdvs_inr_lf i {
	color: #bcbcbc;
	font-size: 30px;
	display: inline;
	margin: 0px 7px 0 0;
	float: left;
	font-weight: 400;
}
.sdvs_inr_rt {
	float:right;
	padding:20px 10px;
	text-align:right;
	color:#737373;
	font-size:12px;
	text-transform:uppercase;
}
.sdvs_inr_rt strong {
	color:#f57d00;
	font-weight:700;
	font-size:20px;
	line-height:20px;
	display:block;
}
.sdvs {
	background:#fff;
	padding:10px 10px 0;
	border-radius:5px;
	text-align:center;
	margin-right:10px;
	box-shadow: 0 1px 6px 1px #ccc;
}
.sdvs h4 {
	color:#2a2a2a;
	font-size:15px;
	font-weight:700;
	text-transform:uppercase;
	margin:20px 0;
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
	float: left;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor: pointer;
}
.owl-controls .owl-buttons div {
	position: absolute;
}
.owl-controls .owl-buttons .owl-prev {
	left: 10px;
	top: 0%;
	height:100%;
	width: 59px;
}
.owl-controls .owl-buttons .owl-next {
	right: 10px;
	top: 0%;
	height:100%;
	width: 59px;
}
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#carousel_upcomCategory .owl-buttons {
	height:100%;
}
/* mouse grab icon */
.grabbing {
	cursor: url(grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}
/* OpenCart Code */
.owl-carousel {
	margin: 0 0 18px;
	direction: ltr !important;
	z-index: 1;
}
.owl-wrapper-outer {
}
.owl-carousel .owl-buttons div {
	transition: all .3s ease;
}
.owl-carousel:hover .owl-buttons div {
}
.owl-carousel .owl-buttons .owl-prev {
	left: -50px;
}
.owl-carousel .owl-buttons .owl-next {
	right: -50px;
}
#carousel_featuredCategory.owl-carousel .owl-buttons div i {
	background: rgba(250, 250, 250, 1);
	color: #d0ad6c;
}
.owl-carousel .owl-buttons div i.fa.fa-chevron-left {
	padding:6px 0px;
	top:34%;
	left:40px;
	position:absolute;
}
.owl-carousel .owl-buttons div i.fa.fa-chevron-right {
	padding:6px 0px;
	top:34%;
	left:40px;
	position:absolute;
}
.owl-carousel .owl-buttons div i.fa.fa-chevron-left::before {
	position: relative;
	left: -2px;
	top: 1px;
}
.owl-carousel .owl-buttons div i.fa.fa-chevron-right::before {
	position: relative;
	right: -2px;
	top: 1px;
}
.owl-carousel .owl-buttons div i {
	font-size: 36px;
	margin: 0;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	color: #fff;
	text-align: center;
}
.owl-pagination {
	text-align: center;
	top: 20px;
	position: relative;
}
.owl-controls .owl-page {
	display: inline-block;
	margin: 0px 6px;
}
.owl-controls .owl-page span {
	display: block;
	width: 11px;
	height: 11px;
	background: #e8eaea;
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
.owl-controls .owl-page.active span {
	background:#f77a00;
}
.fa-chevron-left::before {
}
.fa-chevron-right::before {
}
.socl_fx {
	width: 47px;
	position: fixed;
	right: 0;
	top: 40%;
	z-index:999;
}
.online_btne {
	position: absolute;
	color: 
#fff;
	right: 0;
	top: 10px;
	background:
 #f57300;
	padding: 10px 14px;
	border-radius: 5px;
	font-weight: 600;
	text-transform: uppercase;
}
.online_btne:hover {
	color:#fff;
	text-decoration:none;
}
.cont_offc {
	display: inline-block;
	width: 60%;
	vertical-align:top;
	border-right:1px solid #aaa;
	padding-right:20px;
	margin-right:10px;
}
.cont_offc strong {
	color:#392e00;
	font-size:18px;
	line-height:18px;
	display:block;
	font-weight:900;
	text-transform:uppercase;
	margin-bottom:5px;
}
.cont_offc p {
	color:#392e00;
	font-size:12px;
	line-height:14px;
}
.cont_nmb {
	display: inline-block;
	vertical-align:top;
	width: 21%;
	padding:5px 0;
	background: url(../images/spkr-icon.png) 0 center no-repeat;
}
.cont_nmb strong {
	color:#392e00;
	font-size:18px;
	line-height:18px;
	display:block;
	font-weight:900;
	text-transform:uppercase;
}
.foot_losec img {
	margin-bottom:20px;
}
.customr_revw .container h2 {
	margin-bottom:40px;
}
.footer_qlinks ul {
	padding:0;
	margin:0;
}
.footer_qlinks ul li {
	display: inline-block;
	width: 46%;
	font-size: 13px;
	border-bottom: 1px dashed #ac5970;
	margin-right: 3%;
	margin-bottom: 5px;
	padding-bottom: 5px;
	font-weight: 500;
}
.footer_qlinks ul li a {
	color:#f4b4b4;
	text-decoration: none;
}
.footer_qlinks ul li a:hover {
	color:#fff;
}
.f_location {
	background:url(../images/flocation_icon.png) 0 6px no-repeat;
	padding-left: 30px;
}
.f_call {
	background:url(../images/fcall_icon.png) 0 2px no-repeat;
	padding-left: 30px;
}
.f_mail {
	background:url(../images/fmail_icon.png) 0 6px no-repeat;
	padding-left: 30px;
}
.footer p a {
	color:#454648;
}
.vdo_sc_in img, .bannr_se img {
	width:100%;
}
.footr_dv {
	display: grid;
	grid-template-columns: 40% 38% 21%;
	column-gap: 20px;
}
.contact_scb a {
	color: #fff;
	border: 1px solid #a64e67;
	text-transform: uppercase;
	padding: 10px;
	display: block;
	width: 170px;
	margin: 40px 0 0;
}
.hrea_brd {
	display: block;
	border-bottom: 1px dashed #b3677c;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	padding: 16px 0;
	margin: 0px 0 29px;
}
.qryfme_sc_in button {
	background: #800225;
	border: 0;
	color:#fff;
	text-transform: uppercase;
	padding: 10px 40px;
	display: block;
	margin: 20px auto 0;
	cursor:pointer;
}
.qryfme_sc {
	padding: 60px 0;
}
.qryfme_sc_frm textarea {
	background: #f0f0f4;
	border: 0;
	padding: 2%;
	width: 100%;
	height:100px;
}
.qryfme_sc_frm input {
	background: #f0f0f4;
	border: 0;
	padding: 2%;
	width: 100%;
}
.qryfme_sc_frm {
	display: grid;
	grid-template-columns: 50% 50%;
	column-gap: 20px;
}
.qryfme_sc_frm_dv_inr {
	margin-bottom: 10px;
	display: grid;
	grid-template-columns: 48.3% 48.3%;
	column-gap: 20px;
}
.qryfme_sc_frm_dv_inr div {
	margin-bottom:10px;
}
.qryfme_sc_frm_dv_inr div input {
	padding:3%;
}
.qryfme_sc_con {
	text-align:center;
	padding-bottom:46px;
}
.qryfme_sc_con h3 {
	font-size:38px;
	line-height:38px;
	font-weight:100;
}
.qryfme_sc_con h3 strong {
	font-size:48px;
	line-height:48px;
	display:block;
	text-transform:uppercase;
	font-weight:600;
	margin-bottom:20px;
}
.hv_mrque {
	background:url(../images/nic--bg.png) 0 0 no-repeat;
	background-size:cover;
	padding:60px 0;
	color:#fff;
	text-align:center;
}
.who_do_we_con h3, .prtn_scn_in h3, .about_sc_inr h3, .tak_lok_con h3, .roi_instu_con h3, .foll_sc_con h3, .wht_th_clnt_con h3, .hv_mrque h3 {
	font-size:32px;
	line-height:32px;
	font-weight:100;
}
.who_do_we_con h3 strong, .prtn_scn_in h3 strong, .about_sc_inr h3 strong, .tak_lok_con h3 strong, .roi_instu_con h3 strong, .foll_sc_con h3 strong, .wht_th_clnt_con h3 strong, .hv_mrque h3 strong {
	display:block;
	font-size:48px;
	line-height:48px;
	display:block;
	text-transform:uppercase;
	font-weight:600;
	margin-bottom:20px;
}
.foll_sc_con p {
	font-size:20px;
	line-height:24px;
	font-weight:400;
	color:#d6b0bb;
}
.hv_mrque p strong {
	font-size:34px;
	line-height:34px;
	font-weight:600;
	color:#fff;
}
.hv_mrque p {
	font-size:18px;
	line-height:18px;
	font-weight:400;
	color:#cccccc;
	padding:10px 0;
	letter-spacing:2px;
}
.hv_mrque p.con_eml a {
	text-decoration:none;
}
.hv_mrque p a {
	font-size:18px;
	line-height:18px;
	font-weight:400;
	color:#cccccc;
	text-decoration:underline;
}
.wht_th_clnt {
	padding:60px 0;
}
.wht_th_clnt_con {
	text-align:center;
}
.wht_th_clnt_sc {
	display: grid;
	grid-template-columns: 48.3% 48.3%;
	column-gap: 20px;
}
.wht_th_sc img {
	display: inline-block;
	vertical-align:top;
}
.wht_th_sc_in {
	display: inline-block;
	width: 70%;
	margin-left: 5%;
	vertical-align: top;
}
.fnfr {
	padding-top:10px;
}
.fnfr strong {
	display: block;
	color:#363636;
	font-size:14px;
	line-height:18px;
	font-weight:600;
}
.fnfr span {
	display: block;
	font-size:14px;
	line-height:18px;
	color:#807f7f;
}
.wht_th_sc {
	margin-top:50px;
}
.foll_sc {
	background:url(../images/folo-bg.png) 0 0 no-repeat;
	background-size:cover;
	padding:60px 0;
	color:#fff;
	text-align:center;
}
.socl_inc li {
	display: inline-block;
}
.socl_inc {
	margin-top:60px;
}
.socl_inc li a {
	display: block;
	margin:0 10px;
}
.roi_instu_con {
	text-align:center;
	margin-bottom:50px;
}
.roi_instu {
	background: 
 #f0f0f4;
	padding: 60px 0;
}
.roi_in_dve img {
	width:100%;
	display:block;
}
.roi_in_dve span {
	display:block;
	color:#807f7f;
	padding:10px 20px 0;
}
.roi_in_dve strong {
	display:block;
	color:#363636;
	font-size:18px;
	line-height:20px;
	border-bottom:1px solid #e2e2ea;
	margin-bottom:20px;
	padding:10px 20px 10px;
}
.roi_in_dve p {
	padding: 0 20px;
	font-size: 14px;
	line-height: 20px;
}
.roi_in_dve a {
	color:#872323;
	text-decoration:underline;
	padding:20px;
	display:block;
	text-transform:uppercase;
}
.roi_in_dve {
	background: #fff;
	margin: 0 10px;
}
.hire_inr_dv {
	text-align:center;
}
.hire_inr_hd {
}
.hire_inr_hd span {
	display: block;
	color: #807f7f;
}
.hire_inr_hd {
	margin:20px 0;
}
.hire_inr_hd strong {
	font-size:22px;
	color:#363636;
	line-height:24px;
}
.hire_inr_dv_sc {
	width: 35%;
	text-align: left;
	display: inline-block;
}
.hire_inr_dv_sc:last-child {
	margin-left:10%;
}
.tak_lok_con {
	text-align:center;
	margin-bottom:50px;
}
.hire_sc {
	padding:60px 0;
}
.about_sc {
	background:#f1f1f5 url(../images/abt-bg.png) center top no-repeat;
	background-size:cover;
	padding: 60px 0;
	text-align:center;
}
.about_sc_inr a {
	background:#800225;
	border: 0;
	color:#fff;
	text-transform: uppercase;
	padding: 10px 40px;
	display: block;
	margin: 50px auto 0;
	text-decoration:none;
	width:350px;
}
.prtn_scn_in {
	text-align:center;
}
.prtn_scn {
	padding:60px 0;
}
.prtn_scn_hdn {
	margin-bottom:60px;
}
.prtn_scn_in_slid li {
	margin: 0 24px;
	display: inline-block;
}
.tak_lok_con_in {
	display: grid;
	grid-template-columns: 31.3% 31.3% 31.3%;
	column-gap: 30px;
}
.tak_lok_con_dv {
	position:relative;
}
.tak_lok_con_dv img {
	width:100%;
}
.tak_lok_con_dv_hv {
	background:#f0f0f0;
	text-align:center;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	padding: 26px 0;
	display:none;
}
.tak_lok_con_dv_hv strong {
	font-size: 16px;
	line-height: 20px;
	color: 
 #363636;
	display: block;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.tak_lok_con_dv_hv p {
	font-size:13px;
	line-height:16px;
	color:#363636;
	font-weight:100;
	margin: 30px 0;
}
.tak_lok_con_dv_hv a {
	font-size: 16px;
	line-height: 18px;
	color: #872323;
	border: 1px solid #872323;
	padding: 10px 10px;
	display: block;
	width: 140px;
	margin: 20px auto 0;
}
.tak_lok_con_dv_hv a:hover {
	text-decoration:none;
}
.tak_lok_con_dv:hover .tak_lok_con_dv_hv {
	display:block;
}
.tak_lok {
	padding:60px 0;
}
.who_do_we {
	padding:80px 0;
	background:#f1f1f5 url(../images/wtdo-bg.png) center top no-repeat;
}
.who_do_we_in_sc {
	text-align:center;
}
.who_do_we_in_sc img {
	display:block;
	margin:0 auto;
}
.who_do_we_in_sc strong {
	display:block;
	font-size:20px;
	color:#363636;
	line-height:22px;
	text-transform:uppercase;
	font-weight:600;
	letter-spacing:3px;
	margin:30px 0 10px;
}
.who_do_we_con {
	text-align: center;
	margin-bottom:50px;
}
.who_do_we_in_sc p {
}
.who_do_we_in {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	column-gap: 10px;
}
.who_do_we_in_sc a {
	font-size: 16px;
	line-height: 18px;
	color: #872323;
	text-decoration:underline;
	padding: 10px 10px;
	display: block;
	width: 140px;
	margin: 20px auto 0;
}
.who_do_we_in_sc a:hover {
	text-decoration:none;
}
.main_cont {
	
}
.cor_cn_tr_sc_dv strong {
	color: #fff;
	padding-left: 10px;
	font-weight: normal;
	display: inline-block;
	vertical-align: middle;
	text-transform:uppercase;
}
.cor_cn_tr_sc_dv p {
	color:#d89eae;
	font-size: 14px;
	line-height: 24px;
	padding:18px 0;
}
.cor_cn_tr_sc_dv a {
	font-size: 12px;
	line-height: 14px;
	color: #fff;
	text-decoration:none;
	padding: 14px 0;
	display: block;
	width: 160px;
	border:1px solid #a64e67;
	margin: 20px 0 0;
	text-align:center;
	text-transform:uppercase;
}
.cor_cn_tr_in {
	display: grid;
	grid-template-columns: 31.3% 31.3% 31.3%;
	column-gap: 20px;
}
.cor_cn_tr {
	padding: 60px 0;
	background:#800225;
}
.ban_con {
    text-align: center;
    position: absolute;
    right: 4%;
    top: 18%;
    width: 61%;
}
.bannr_se{position:relative;}
.ban_con h4{font-size:48px; line-height:48px; color:#363636; font-weight:400;}
.ban_con strong{font-size:78px; line-height:80px; color:#800225; font-weight:400; text-transform:uppercase;}
.ban_con p{font-size:20px; line-height:30px; color:#363636; font-weight:400; padding:50px 0;}
.ban_btn a {
    color: 
    #872323;
	font-size:15px;
	line-height:20px;
	text-transform:uppercase;
	border:1px solid #872323;
	padding:17px 20px;
	display:inline-block;
	text-decoration:none;
}
.ban_btn a:last-child {border:1px solid #872323; background:#872323 url(../images/pdf-icn.png) 10px center no-repeat; color:#fff; padding-left:50px; margin-left:30px;}

.logo_sc {
	float:left;
	width:20%;
}
.menu_sc {
	float:right;
	width:75%;
}
#cssmenu{display:inline-block; vertical-align:top;}
.rit_mnu_log{display:inline-block;vertical-align:top; border-left:1px dashed #adadad; padding-left:10px;}
.logo_sc a {

    display: block;
    padding: 12px 0;

}
.top_secn_r {

    float: right;

}
.top_secn_l {

    float: left;
	color:#363636;

}
.top_secn_l a{color:#800225;}
.top_secn {

    border-bottom: 1px solid 

    #f4f4f4;
    padding-bottom: 10px;

}
.top_secn_r a {

    background: url(../images/profl-icn.png) 0 center no-repeat;
    border: 0;
    padding: 3px 20px !important;
    text-transform: uppercase;
	padding:3px 12px;	
	color:#000;
	text-decoration:none;

}

.top_secn_r input[type="text"]{background:#f4f4f4; border:0; padding:3px 5px;}
.top_secn_r input[type="button"]{background:#e9e9e9 url(../images/src-icn.png) center center no-repeat; border:0; margin:0 0 0 -8px;}