@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Open Sans', sans-serif;
	/*background:#e8eaea;*/
	background: #fff;
	color: #181c1e;
	font-size: 14px;
}
.clear {
	clear: both;
	padding: 0;
	margin: 0;
}
p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.container h2 {
	font-size: 38px;
	font-weight: 900;
	color: #16232b;
	line-height: 40px;
	margin-bottom: 10px;
}
p {
	color: #75797e;
	font-size: 15px;
	line-height: 30px;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#cssmenu:after, #cssmenu > ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#cssmenu #menu-button {
	display: none;
}
#cssmenu {
}
#cssmenu > ul > li {
	display: inline-block;
}
#cssmenu > ul > li:last-child {
	border: 0;
}
#cssmenu.align-center > ul {
	font-size: 0;
	text-align: center;
}
#cssmenu.align-center > ul > li {
	display: inline-block;
	float: none;
}
#cssmenu.align-center ul ul {
	text-align: left;
}
#cssmenu.align-right > ul > li {
	float: right;
}
.head_top {
	padding: 16px 0;
}
#cssmenu > ul > li:last-child a {
	border: 0;
}
#cssmenu > ul > li > a {
	margin: 0 10px;
	padding: 21px 0;
	border: 0;
	color: #363636;
	list-style: none;
	line-height: 14px;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 400;
	border-bottom: 4px solid transperent;
	text-transform: uppercase;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	cursor: pointer;
}
#menu-line {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 58px;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
	border-top: 1px solid #4b5356;
	border-bottom: 1px solid #4b5356;
}
#cssmenu > ul > li:last-child a {
}
#cssmenu > ul > li.has-sub > a {
	padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
	position: absolute;
	top: 50px;
	right: 11px;
	width: 12px;
	height: 8px;
	display: block;
	background: url(../images/select-aro.png) 0 0 no-repeat;
	content: '';
}
#cssmenu > ul > li.has-sub:hover a:after {
	background: url(../images/select-aroh.png) 0 0 no-repeat;
}
/*#cssmenu > ul > li.has-sub > a:before {
	position: absolute;
	top: 50px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #dddddd;
	content: '';
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}*/
#cssmenu > ul > li.has-sub:hover > a:before {
	top: 23px;
	height: 0;
}
#cssmenu ul ul {
	position: absolute;
	left: -9999px;
}
#cssmenu.align-right ul ul {
	text-align: right;
}
#cssmenu ul ul li {
	height: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
#cssmenu li:hover > ul {
	left: auto;
}
#cssmenu.align-right li:hover > ul {
	left: auto;
	right: 0;
}
#cssmenu li:hover > ul > li {
	height: 35px;
}
#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0;
}
#cssmenu.align-right ul ul ul {
	margin-left: 0;
	margin-right: 100%;
}
#cssmenu ul ul li a {
	border-bottom: 1px solid rgba(150, 150, 150, 0.15);
	padding: 11px 15px;
	width: 170px;
	font-size: 12px;
	text-decoration: none;
	color: #dddddd;
	font-weight: 400;
	background: #333333;
}
#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
	border-bottom: 0;
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
	color: #ffffff;
}
#cssmenu ul ul li.has-sub > a:after {
	position: absolute;
	top: 16px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #dddddd;
	content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
	right: auto;
	left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
	position: absolute;
	top: 13px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #dddddd;
	content: '';
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
	right: auto;
	left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
	top: 17px;
	height: 0;
}
#cssmenu > ul > li.active > a, #cssmenu > ul > li:hover > a {
	/*border-top:1px solid #4b5356;
	border-bottom:1px solid #4b5356;*/
	text-decoration: none;
}
 @media all and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
}
.cssmenu li.active a, .cssmenu li:hover a {
	color: #ea2c00;
	text-decoration: none;
}
.cssmenu li a {
	text-transform: uppercase;
	color: #1b1e20;
	font-weight: 600;
	display: block;
	padding: 10px 10px;
}
.cssmenu li:last-child {
	border-right: 0;
}
.cssmenu li {
	display: inline-block;
	border-right: 1px solid #e2e4e4;
}
.nav-secn {
	background: #007ccb;
}
.foot_socl {
	text-align: left;
	margin-top: 20px;
}
.foot_menu {
	margin: 10px 0;
}
.foot_socl li {
	display: inline-block;
}
.foot_socl li a {
	display: block;
	background: #4c5353;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	color: #dadddd;
	padding-top: 7px;
	font-size: 18px;
	text-align: center;
}
.foot_menu li {
	display: inline-block;
	margin: 0 10px;
	color: #277d7c;
	text-transform: uppercase;
}
.foot_menu li a {
	color: #454648;
	font-size: 12px;
	line-height: 14px;
	padding-right: 10px;
}
.footre_log {
	position: relative;
}
.foot_col {
	background: #800225;
	padding: 50px 0 50px;
}
.footer h4 {
	color: #fff;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.roi_instu_con a {
	color: #800225;
	text-decoration: underline;
}
.footr_dv p {
	color: #f4b4b4;
	font-size: 13px;
	line-height: 23px;
	padding-bottom: 0px;
	font-weight: 400;
}
.footer .nwsltre {
	text-align: center;
}
.footer .nwsltre img {
	margin-top: -130px;
	margin-bottom: 20px;
}
.footer .nwsltre button {
	margin-top: 10px;
	width: 100%;
}
.copyrit {
	background: #dadddd;
	padding: 20px 0;
	border-top: 1px solid #fff;
}
.copyrit p {
	color: #606164;
	font-size: 12px;
	line-height: 34px;
}
.sdvs_inr {
	overflow: hidden;
	border-top: 1px solid #cbcbcb;
}
.sdvs_inr_lf {
	float: left;
	border-right: 1px solid #cbcbcb;
	padding: 20px 6px;
	color: #737373;
	font-size: 12px;
	text-align: left;
	line-height: 14px;
}
.sdvs_inr_lf i {
	color: #bcbcbc;
	font-size: 30px;
	display: inline;
	margin: 0px 7px 0 0;
	float: left;
	font-weight: 400;
}
.sdvs_inr_rt {
	float: right;
	padding: 20px 10px;
	text-align: right;
	color: #737373;
	font-size: 12px;
	text-transform: uppercase;
}
.sdvs_inr_rt strong {
	color: #f57d00;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	display: block;
}
.sdvs {
	background: #fff;
	padding: 10px 10px 0;
	border-radius: 5px;
	text-align: center;
	margin-right: 10px;
	box-shadow: 0 1px 6px 1px #ccc;
}
.sdvs h4 {
	color: #2a2a2a;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 20px 0;
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
	float: left;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor: pointer;
}
.owl-controls .owl-buttons div {
	position: absolute;
}
.owl-controls .owl-buttons .owl-prev {
	left: 10px;
	top: 25%;
	height: 43px;
	width: 25px;
}
.owl-controls .owl-buttons .owl-next {
	right: 10px;
	top: 25%;
	height: 43px;
	width: 25px;
}
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#carousel_upcomCategory .owl-buttons {
	height: 100%;
}
/* mouse grab icon */
.grabbing {
	cursor: url(grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}
/* OpenCart Code */
.owl-carousel {
	margin: 0 0 18px;
	direction: ltr !important;
	z-index: 1;
}
.owl-wrapper-outer {
}
.owl-carousel .owl-buttons div {
	transition: all .3s ease;
}
.owl-carousel:hover .owl-buttons div {
}
.owl-carousel .owl-buttons .owl-prev {
	left: -50px;
}
.owl-carousel .owl-buttons .owl-next {
	right: -50px;
}
#carousel_featuredCategory.owl-carousel .owl-buttons div i {
	background: rgba(250, 250, 250, 1);
	color: #d0ad6c;
}
.owl-carousel .owl-buttons div i.fa.fa-chevron-left {
	padding: 0;
	top: 0;
	left: 0;
	position: absolute;
}
.owl-carousel .owl-buttons div i.fa.fa-chevron-right {
	padding: 0;
	top: 0;
	left: 0;
	position: absolute;
}
.owl-carousel .owl-buttons div i.fa.fa-chevron-left::before {
	position: relative;
	left: -2px;
	top: 1px;
}
.owl-carousel .owl-buttons div i.fa.fa-chevron-right::before {
	position: relative;
	right: -2px;
	top: 1px;
}
.owl-carousel .owl-buttons div i {
	font-size: 36px;
	margin: 0;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	color: #fff;
	text-align: center;
}
.owl-pagination {
	text-align: center;
	top: 20px;
	position: relative;
}
.owl-controls .owl-page {
	display: inline-block;
	margin: 0px 6px;
}
.owl-controls .owl-page span {
	display: block;
	width: 11px;
	height: 11px;
	background: #e8eaea;
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
.owl-controls .owl-page.active span {
	background: #f77a00;
}
.fa-chevron-left::before {
}
.fa-chevron-right::before {
}
.socl_fx {
	width: 47px;
	position: fixed;
	right: 0;
	top: 40%;
	z-index: 999;
}
.online_btne {
	position: absolute;
	color: #fff;
	right: 0;
	top: 10px;
	background: #f57300;
	padding: 10px 14px;
	border-radius: 5px;
	font-weight: 600;
	text-transform: uppercase;
}
.online_btne:hover {
	color: #fff;
	text-decoration: none;
}
.cont_offc {
	display: inline-block;
	width: 60%;
	vertical-align: top;
	border-right: 1px solid #aaa;
	padding-right: 20px;
	margin-right: 10px;
}
.cont_offc strong {
	color: #392e00;
	font-size: 18px;
	line-height: 18px;
	display: block;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.cont_offc p {
	color: #392e00;
	font-size: 12px;
	line-height: 14px;
}
.cont_nmb {
	display: inline-block;
	vertical-align: top;
	width: 21%;
	padding: 5px 0;
	background: url(../images/spkr-icon.png) 0 center no-repeat;
}
.cont_nmb strong {
	color: #392e00;
	font-size: 18px;
	line-height: 18px;
	display: block;
	font-weight: 900;
	text-transform: uppercase;
}
.foot_losec img {
	margin-bottom: 20px;
}
.customr_revw .container h2 {
	margin-bottom: 40px;
}
.footer_qlinks ul {
	padding: 0;
	margin: 0;
}
.footer_qlinks ul li {
	display: inline-block;
	width: 46%;
	font-size: 13px;
	border-bottom: 1px dashed #ac5970;
	margin-right: 3%;
	margin-bottom: 5px;
	padding-bottom: 5px;
	font-weight: 500;
}
.footer_qlinks ul li a {
	color: #f4b4b4;
	text-decoration: none;
}
.footer_qlinks ul li a:hover {
	color: #fff;
}
.f_location {
	background: url(../images/flocation_icon.png) 0 6px no-repeat;
	padding-left: 30px;
}
.f_call {
	background: url(../images/fcall_icon.png) 0 2px no-repeat;
	padding-left: 30px;
}
.f_mail {
	background: url(../images/fmail_icon.png) 0 6px no-repeat;
	padding-left: 30px;
}
.footer p a {
	color: #454648;
}
.vdo_sc_in img, .bannr_se img {
	width: 100%;
}
.footr_dv {
	display: grid;
	grid-template-columns: 40% 38% 21%;
	column-gap: 20px;
}
.contact_scb a {
	color: #fff;
	border: 1px solid #a64e67;
	text-transform: uppercase;
	padding: 10px;
	display: block;
	width: 170px;
	margin: 40px 0 0;
}
.hrea_brd {
	display: block;
	border-bottom: 1px dashed #b3677c;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	padding: 16px 0;
	margin: 0px 0 29px;
}
.qryfme_sc_in button {
	background: #800225;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 40px;
	display: block;
	margin: 20px auto 0;
	cursor: pointer;
}
.qryfme_sc {
	padding: 60px 0;
}
.qryfme_sc_frm textarea {
	background: #f0f0f4;
	border: 0;
	padding: 2%;
	width: 100%;
	height: 100px;
}
.qryfme_sc_frm input {
	background: #f0f0f4;
	border: 0;
	padding: 2%;
	width: 100%;
}
.qryfme_sc_frm {
	display: grid;
	grid-template-columns: 50% 50%;
	column-gap: 20px;
}
.qryfme_sc_frm_dv_inr {
	margin-bottom: 10px;
	display: grid;
	grid-template-columns: 48.3% 48.3%;
	column-gap: 20px;
}
.qryfme_sc_frm_dv_inr div {
	margin-bottom: 10px;
}
.qryfme_sc_frm_dv_inr div input {
	padding: 3%;
}
.qryfme_sc_con {
	text-align: center;
	padding-bottom: 46px;
}
.qryfme_sc_con h3 {
	font-size: 38px;
	line-height: 38px;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
}
.qryfme_sc_con h3 strong {
	font-size: 48px;
	line-height: 48px;
	display: block;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 20px;
}
.hv_mrque {
	background: url(../images/nic--bg.png) 0 0 no-repeat;
	background-size: cover;
	padding: 60px 0;
	color: #fff;
	text-align: center;
}
.abt_roi_lft h3, .who_do_we_con h3, .prtn_scn_in h3, .about_sc_inr h3, .tak_lok_con h3, .roi_instu_con h3, .foll_sc_con h3, .wht_th_clnt_con h3, .hv_mrque h3 {
	font-size: 32px;
	line-height: 32px;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
}
.abt_roi_lft h3 strong, .who_do_we_con h3 strong, .prtn_scn_in h3 strong, .about_sc_inr h3 strong, .tak_lok_con h3 strong, .roi_instu_con h3 strong, .foll_sc_con h3 strong, .wht_th_clnt_con h3 strong, .hv_mrque h3 strong {
	display: block;
	font-size: 48px;
	line-height: 48px;
	display: block;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 20px;
}
.foll_sc_con p {
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	color: #d6b0bb;
}
.hv_mrque p strong {
	font-size: 34px;
	line-height: 34px;
	font-weight: 600;
	color: #fff;
}
.hv_mrque p {
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	color: #cccccc;
	padding: 10px 0;
	letter-spacing: 2px;
}
.hv_mrque p.con_eml a {
	text-decoration: none;
}
.hv_mrque p a {
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	color: #cccccc;
	text-decoration: underline;
}
.wht_th_clnt {
	padding: 60px 0;
}
.wht_th_clnt_con {
	text-align: center;
}
.wht_th_clnt_sc {
	display: grid;
	grid-template-columns: 48.3% 48.3%;
	column-gap: 20px;
}
.wht_th_sc img {
	display: inline-block;
	vertical-align: top;
}
.wht_th_sc_in {
	display: inline-block;
	width: 70%;
	margin-left: 5%;
	vertical-align: top;
}
.fnfr {
	padding-top: 10px;
}
.fnfr strong {
	display: block;
	color: #363636;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
}
.fnfr span {
	display: block;
	font-size: 14px;
	line-height: 18px;
	color: #807f7f;
}
.wht_th_sc {
	margin-top: 50px;
}
.foll_sc {
	background: url(../images/folo-bg.png) 0 0 no-repeat;
	background-size: cover;
	padding: 60px 0;
	color: #fff;
	text-align: center;
}
.socl_inc li {
	display: inline-block;
}
.socl_inc {
	margin-top: 60px;
}
.socl_inc li a {
	display: block;
	margin: 0 10px;
}
.roi_instu_con {
	text-align: center;
	margin-bottom: 50px;
}
.roi_instu {
	background: #f0f0f4;
	padding: 60px 0;
}
.roi_in_dve img {
	width: 100%;
	display: block;
}
.roi_in_dve span {
	display: block;
	color: #807f7f;
	padding: 10px 20px 0;
}
.roi_in_dve strong {
	display: block;
	color: #363636;
	font-size: 18px;
	line-height: 20px;
	border-bottom: 1px solid #e2e2ea;
	margin-bottom: 20px;
	padding: 10px 20px 10px;
}
.roi_in_dve p {
	padding: 0 20px;
	font-size: 14px;
	line-height: 20px;
}
.roi_in_dve a {
	color: #872323;
	text-decoration: underline;
	padding: 20px;
	display: block;
	text-transform: uppercase;
}
.roi_in_dve {
	background: #fff;
	margin: 0 10px;
}
.hire_inr_dv {
	text-align: center;
}
.hire_inr_hd {
}
.hire_inr_hd span {
	display: block;
	color: #807f7f;
}
.hire_inr_hd {
	margin: 20px 0;
}
.hire_inr_hd strong {
	font-size: 22px;
	color: #363636;
	line-height: 24px;
}
.hire_inr_dv_sc {
	width: 35%;
	text-align: left;
	display: inline-block;
}
.hire_inr_dv_sc:last-child {
	margin-left: 10%;
}
.tak_lok_con {
	text-align: center;
	margin-bottom: 50px;
}
.hire_sc {
	padding: 60px 0;
}
.about_sc {
	background: #f1f1f5 url(../images/abt-bg.png) center top no-repeat;
	background-size: cover;
	padding: 60px 0;
	text-align: center;
}
.about_sc_inr a {
	background: #800225;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 40px;
	display: block;
	margin: 50px auto 0;
	text-decoration: none;
	width: 350px;
}
.prtn_scn_in {
	text-align: center;
}
.prtn_scn {
	padding: 60px 0;
}
.prtn_scn_hdn {
	margin-bottom: 60px;
}
.prtn_scn_in_slid li {
	margin: 0 24px;
	display: inline-block;
}
.tak_lok_con_in {
	display: grid;
	grid-template-columns: 31.3% 31.3% 31.3%;
	column-gap: 30px;
}
.tak_lok_con_dv {
	position: relative;
}
.tak_lok_con_dv img {
	width: 100%;
}
.tak_lok_con_dv_hv {
	background: #f0f0f0;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	padding: 26px 0;
	display: none;
}
.tak_lok_con_dv_hv strong {
	font-size: 16px;
	line-height: 20px;
	color: #363636;
	display: block;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.tak_lok_con_dv_hv p {
	font-size: 13px;
	line-height: 16px;
	color: #363636;
	font-weight: 100;
	margin: 30px 0;
}
.tak_lok_con_dv_hv a {
	font-size: 16px;
	line-height: 18px;
	color: #872323;
	border: 1px solid #872323;
	padding: 10px 10px;
	display: block;
	width: 140px;
	margin: 20px auto 0;
}
.tak_lok_con_dv_hv a:hover {
	text-decoration: none;
}
.tak_lok_con_dv:hover .tak_lok_con_dv_hv {
	display: block;
}
.tak_lok {
	padding: 60px 0;
}
.who_do_we {
	padding: 80px 0;
	background: #f1f1f5 url(../images/wtdo-bg.png) center top no-repeat;
}
.who_do_we_in_sc {
	text-align: center;
}
.who_do_we_in_sc img {
	display: block;
	margin: 0 auto;
}
.who_do_we_in_sc strong {
	display: block;
	font-size: 20px;
	color: #363636;
	line-height: 22px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	margin: 30px 0 10px;
}
.who_do_we_con {
	text-align: center;
	margin-bottom: 50px;
}
.who_do_we_in_sc p {
}
.who_do_we_in {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	column-gap: 10px;
}
.who_do_we_in_sc a {
	font-size: 16px;
	line-height: 18px;
	color: #872323;
	text-decoration: underline;
	padding: 10px 10px;
	display: block;
	width: 140px;
	margin: 20px auto 0;
}
.who_do_we_in_sc a:hover {
	text-decoration: none;
}
.main_cont {
}
.cor_cn_tr_sc_dv strong {
	color: #fff;
	padding-left: 10px;
	font-weight: normal;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
}
.cor_cn_tr_sc_dv p {
	color: #d89eae;
	font-size: 14px;
	line-height: 24px;
	padding: 18px 0;
}
.cor_cn_tr_sc_dv a {
	font-size: 12px;
	line-height: 14px;
	color: #fff;
	text-decoration: none;
	padding: 14px 0;
	display: block;
	width: 160px;
	border: 1px solid #a64e67;
	margin: 20px 0 0;
	text-align: center;
	text-transform: uppercase;
}
.cor_cn_tr_in {
	display: grid;
	grid-template-columns: 31.3% 31.3% 31.3%;
	column-gap: 20px;
}
.cor_cn_tr {
	padding: 60px 0;
	background: #800225;
}
.ban_con {
	text-align: center;
	position: absolute;
	right: 4%;
	top: 18%;
	width: 55%;
}
.bannr_se {
	position: relative;
}
.ban_con h4 {
	font-size: 48px;
	line-height: 48px;
	color: #363636;
	font-weight: 400;
}
.ban_con strong {
	font-size: 78px;
	line-height: 80px;
	color: #800225;
	font-weight: 400;
	text-transform: uppercase;
}
.ban_con p {
	font-size: 20px;
	line-height: 30px;
	color: #363636;
	font-weight: 400;
	padding: 50px 0;
}
.ban_btn a {
	color: #872323;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	border: 1px solid #872323;
	padding: 17px 20px;
	display: inline-block;
	text-decoration: none;
}
.ban_btn a:last-child {
	border: 1px solid #872323;
	background: #872323 url(../images/pdf-icn.png) 10px center no-repeat;
	color: #fff;
	padding-left: 50px;
	margin-left: 30px;
}
.logo_sc {
	float: left;
	width: 20%;
}
.menu_sc {
	float: right;
	width: 75%;
}
#cssmenu {
	display: inline-block;
	vertical-align: top;
}
.rit_mnu_log {
	display: inline-block;
	vertical-align: top;
	border-left: 1px dashed #adadad;
	padding-left: 10px;
}
.logo_sc a {
	display: block;
	padding: 12px 0;
}
.top_secn_r {
	float: right;
}
.top_secn_l {
	float: left;
	color: #363636;
}
.top_secn_l a {
	color: #800225;
}
.top_secn {
	border-bottom: 1px solid #f4f4f4;
	padding: 7px 0;
}
.top_secn_r a {
	background: url(../images/profl-icn.png) 0 center no-repeat;
	border: 0;
	padding: 3px 20px !important;
	text-transform: uppercase;
	padding: 3px 12px;
	cursor: pointer;
	text-transform: uppercase;
	color: #363636;
	display: inline-block;
	vertical-align: middle;
}
.top_secn_r a.outlog {
	background: url(../images/logout.png) 0 center no-repeat;
}
.top_secn_r a:hover {
	text-decoration: none;
}
.top_secn_r input[type="text"] {
	background: #f4f4f4;
	padding: 3px 8px;
	border: 1px solid #e9e9e9;
}
.top_secn_r input[type="button"] {
	background: #e9e9e9 url(../images/src-icn.png) center center no-repeat;
	border: 0;
	margin: 0 0 0 -8px;
	width: 27px;
	height: 29px;
	cursor: pointer;
}
/*----------about page-----------*/
.ban_con h5 {
	font-size: 24px;
	font-weight: 600;
	text-align: left;
	line-height: 32px;
}
.abtsroinst ul {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	column-gap: 30px;
}
.abtsroinst ul li {
	margin-bottom: 20px;
}
.abtsroinst ul li span {
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	width: 11%;
}
.abtsroinst ul li span img {
	display: block;
	margin: 0 0 0 auto;
}
.abtsroinst ul li strong {
	width: 48%;
	display: inline-block;
	line-height: 16px;
	font-weight: 400;
	vertical-align: middle;
	margin-left: 12px;
}
.roi_in_locn {
	background: url(../images/caro-loc-bg.png) 0 center no-repeat;
	padding: 10px 0 10px 80px;
}
.abt_roi_lft {
	float: left;
	width: 70%;
	border-right: 1px solid #993551;
	padding-right: 2%;
	margin-right: 3%;
}
.abt_roi_rit {
	float: right;
	width: 27%;
}
.wt_we_ofr_con {
	text-align: center;
	margin-bottom: 50px;
}
.wt_we_ofr_con h3 {
	font-size: 32px;
	line-height: 32px;
	font-weight: 100;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
.abt_roi_lft h3 {
	font-size: 32px;
	line-height: 32px;
	font-weight: 100;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
.wt_we_ofr_con h3 strong {
	display: block;
	font-size: 48px;
	line-height: 48px;
	display: block;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 20px;
	color: #fff;
}
.abt_roi_lft h3 strong {
	display: block;
	font-size: 48px;
	line-height: 48px;
	display: block;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 20px;
	color: #fff;
}
.abt_roi_lft p {
	color: #d89eae;
	margin-bottom: 20px;
	font-size: 16px;
}
.abt_roi_rit h3 {
	font-family: 'Raleway', sans-serif;
}
.abt_roi_rit h3 span {
	display: inline;
	color: #fff;
	font-size: 22px;
	font-weight: 100;
	border-bottom: 1px solid #a64e67;
	padding-bottom: 2px;
}
.abt_roi_rit h3 strong {
	display: block;
	color: #fff;
	font-size: 38px;
	font-weight: 600;
	text-transform: uppercase;
}
.abt_roi_rit li {
	color: #d89eae;
	margin-bottom: 20px;
	font-size: 16px;
	counter-increment: step-counter;
	margin-top: 20px;
}
.abt_roi_rit ol {
	list-style-type: none;
	padding: 0;
}
.abt_roi_rit li::before {
	content: counter(step-counter);
	margin-right: 10px;
	font-size: 80%;
	background-color: #fff;
	color: #800225;
	padding: 3px 8px;
}
.wt_we_ofr {
	padding: 60px 0;
	background: #272727;
}
.resp-tabs-list {
	text-align: center;
}
.resp-tabs-list li {
	font-weight: 600;
	font-size: 13px;
	display: inline-block;
	padding: 13px 15px;
	margin: 0 4px 0 0;
	list-style: none;
	cursor: pointer;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.roi_in_locn strong {
	color: #363636;
	font-size: 20px;
}
.roi_in_locn p {
	color: #800225;
	font-size: 17px;
}
/*-----------tab styles-----------*/
.resp-tabs-container {
	padding: 0px;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
	padding: 15px;
}
.resp-tabs-container p {
	color: #a6a6a6;
	font-size: 18px;
	text-align: justify;
	line-height: 28px;
	margin-top: 20px;
}
.resp-tab-active {
	border: 1px solid #5AB1D0 !important;
	border-bottom: none;
	margin-bottom: -1px !important;
	padding: 12px 14px 14px 14px !important;
	border-top: 4px solid #5AB1D0 !important;
	border-bottom: 0px #fff solid !important;
}
.resp-tab-active {
	border-bottom: none;
	background-color: #fff;
}
.resp-content-active, .resp-accordion-active {
	display: block;
}
.resp-tab-content {
	border: 1px solid #c1c1c1;
	border-top-color: #5AB1D0;
}
h2.resp-accordion {
	font-size: 13px;
	border: 1px solid #c1c1c1;
	border-top: 0px solid #c1c1c1;
	margin: 0px;
	padding: 10px 15px;
}
h2.resp-tab-active {
	border-bottom: 0px solid #c1c1c1 !important;
	margin-bottom: 0px !important;
	padding: 10px 15px !important;
}
h2.resp-tab-title:last-child {
	border-bottom: 12px solid #c1c1c1 !important;
	background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
	float: left;
	width: 30%;
}
.resp-vtabs .resp-tabs-list li {
	display: block;
	padding: 15px 15px !important;
	margin: 0 0 4px;
	cursor: pointer;
	float: none;
}
.resp-vtabs .resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	border: 1px solid #c1c1c1;
	float: left;
	width: 68%;
	min-height: 250px;
	border-radius: 4px;
	clear: none;
}
.resp-vtabs .resp-tab-content {
	border: none;
	word-wrap: break-word;
}
.resp-vtabs li.resp-tab-active {
	position: relative;
	z-index: 1;
	margin-right: -1px !important;
	padding: 14px 15px 15px 14px !important;
	border-top: 1px solid;
	border: 1px solid #5AB1D0 !important;
	border-left: 4px solid #5AB1D0 !important;
	margin-bottom: 4px !important;
	border-right: 1px #FFF solid !important;
}
.resp-arrow {
	width: 0;
	height: 0;
	float: right;
	margin-top: 3px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 12px solid #c1c1c1;
}
h2.resp-tab-active span.resp-arrow {
	border: none;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #9B9797;
}
/*-----------Accordion styles-----------*/
h2.resp-tab-active {
	background: #DBDBDB;/* !important;*/
}
.resp-easy-accordion h2.resp-accordion {
	display: block;
}
.resp-easy-accordion .resp-tab-content {
	border: 1px solid #c1c1c1;
}
.resp-easy-accordion .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1;/* !important;*/
}
.resp-jfit {
	width: 100%;
	margin: 0px;
}
.resp-tab-content-active {
	display: block;
}
h2.resp-accordion:first-child {
	border-top: 1px solid #c1c1c1;/* !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
ul.resp-tabs-list {
	display: none;
}
h2.resp-accordion {
	display: block;
}
.resp-vtabs .resp-tab-content {
	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: 100px;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
.resp-vtabs .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1 !important;
}
}
/*-----------tab styles end-----------*/

/*-------course details--------*/
.sldr img {
	width: 100%;
}
.ban_con h5 span {
	display: block;
	font-size: 40px;
	text-transform: uppercase;
}
.cour_dtl_dv {
	text-align: center;
}
.cour_dtl_dv img {
	display: block;
	margin: 0 auto;
	border: 1px solid #eee;
	width: 355px;
	height: 200px;
}
.cour_dtl_upcn {
	font-size: 13px;
	line-height: 15px;
	color: #555555;
	padding: 20px 0 10px;
}
.cour_dtl_upcn span {
	background: url(../images/cal-icn-sm.png) 0 0 no-repeat;
	padding-left: 30px;
}
.cour_dtl_upcn strong {
	color: #800225;
	font-weight: 600;
}
.cour_dtl_sm_bld {
	border-bottom: 1px solid #e2e2ea;
	padding-bottom: 8px;
	margin-bottom: 8px;
}
.cour_dtl_sm_bld p {
	color: #363636;
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
}
.cour_dtl_contn {
	padding: 10px 0;
}
.cour_dtl_contn p {
	color: #807f7f;
	font-size: 14px;
	line-height: 18px;
}
.cour_btn_sc {
	padding: 10px 0 0;
}
.cour_btn_sc a, .cour_btn_sc button {
	background: #800225;
	font-size: 15px;
	line-height: 24px;
	text-transform: uppercase;
	border: 0;
	color: #fff;
	padding: 8px 0;
	width: 48%;
	cursor: pointer;
	display: inline-block;
}
.cour_btn_sc a:last-child, .cour_btn_sc button:last-child {
	background: #363636;
	margin-left: 10px;
}
.cour_btn_sc a:hover {
	text-decoration: none;
}
.cour_dtl_in_sec {
	display: grid;
	grid-template-columns: 31% 31% 31%;
	column-gap: 40px;
}
.cour_dtl_dv {
	margin-bottom: 40px;
}
.serc_cour_sc {
	padding: 60px 0;
}
.serc_cour_sc_inr {
}
.serc_cour_sc_inr label {
	font-size: 16px;
	line-height: 16px;
	color: #363636;
	font-weight: 600;
	width: 100px;
	display: inline-block;
	vertical-align: middle;
}
.serc_cour_sc_inr input[type="text"] {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	background: #f0f0f4;
	border: 0;
	padding: 1% 2%;
}
.serc_cour_sc_inr input[type="date"] {
	display: inline-block;
	vertical-align: middle;
	width: 16%;
	background: #f0f0f4 url(../images/cal-icn.png) 10px center no-repeat;
	border: 0;
	padding: 1% 2% 1% 4%;
	margin-left: 5px;
}
.serc_cour_sc_inr input[type="button"] {
	background: #800225;
	font-size: 15px;
	line-height: 24px;
	text-transform: uppercase;
	border: 0;
	color: #fff;
	padding: 9px 0;
	width: 160px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	cursor: pointer;
}
.ban_con h6 {
	font-size: 32px;
	font-weight: 300;
	text-align: left;
	line-height: 40px;
	padding-top: 20px;
}
.ban_con h6 span {
	font-size: 42px;
	font-weight: 600;
	text-align: left;
	line-height: 60px;
	display: block;
	text-transform: uppercase;
}
.dt_bkng_lf {
	float: left;
}
.dt_bkng_lf strong {
	display: block;
	color: #363636;
	font-size: 30px;
	font-weight: 600;
	line-height: 30px;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 20px;
}
.dt_bkng_lf button {
	background: #800225;
	font-size: 15px;
	line-height: 24px;
	text-transform: uppercase;
	border: 0;
	color: #fff;
	padding: 9px 0;
	width: 160px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 10px;
	cursor: pointer;
	display: block;
}
.dt_bkng_rt {
	float: right;
}
.dt_bkng_rt strong em {
	font-size: 64px;
	line-height: 64px;
	font-weight: 600;
	font-style: normal;
}
.dt_bkng_rt strong em sup {
	position: relative;
	font-size: 20px;
	line-height: 0;
	vertical-align: top;
	top: .5em;
}
.dt_bkng_rt strong i {
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	font-style: normal;
}
.dt_bkng_rt h4 {
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
}
.dt_bkng_rt h5 {
	font-size: 24px;
	line-height: 24px;
	font-weight: 600;
}
.dt_bkng {
	padding: 27px 0;
	background: #f0f0f4;
}
.bmt_secn {
	margin: 10px 0;
}
.vdeo_sc_cont_top strong {
	color: #363636;
	font-size: 24px;
	line-height: 30px;
	font-weight: 600;
	margin: 60px 0 50px;
	display: block;
}
.vdeo_sc_cont_top p {
	color: #363636;
	font-size: 20px;
	line-height: 26px;
	font-weight: 400;
}
.vdeo_sc_cont_top {
	margin-bottom: 0;
}
.vdeo_sc_cont_top button {
	background: #800225;
	font-size: 15px;
	line-height: 24px;
	text-transform: uppercase;
	border: 0;
	color: #fff;
	padding: 9px 0;
	width: 160px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 40px;
	cursor: pointer;
	display: block;
}
.con_dtls {
	padding: 60px 0;
}
.why_chos {
	background: #f0f0f4;
	padding: 20px;
	border-bottom: 4px solid #850c2e;
}
.why_chos li {
	color: #363636;
	font-size: 16px;
	line-height: 27px;
	display: block;
	margin-bottom: 32px;
	padding-left: 32px;
	background: url(../images/li-bull-bg.png) 0 0 no-repeat;
}
.why_chos h3 {
	color: #363636;
	font-size: 34px;
	line-height: 34px;
}
.why_chos strong {
	color: #363636;
	font-size: 22px;
	line-height: 24px;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 30px;
	display: block;
}
.con_dtls_lft {
	float: left;
	width: 72.4%;
}
.con_dtls_rit {
	float: right;
	width: 25%;
}
.why_chos.wychotwo {
	margin-top: 50px;
}
.why_chos.wychotwo li {
	padding: 8px 0 8px;
	background: none;
	border-top: 1px solid #cbcbce;
	margin: 0;
}
.why_chos.wychotwo li span {
	display: inline-block;
	background: url(../images/cal-icn-sm.png) 0 0 no-repeat;
	width: 18px;
	height: 19px;
	vertical-align: middle;
}
.why_chos.wychotwo li button {
	background: #800225;
	font-size: 12px;
	line-height: 24px;
	text-transform: uppercase;
	border: 0;
	color: #fff;
	padding: 3px 9px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
}
.why_chos.wychotwo li strong {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	margin: 0;
}
.why_chos.wychotwo li a:hover, .dt_bkng_rt a:hover, .vdeo_sc_cont_top a:hover {
	text-decoration: none;
}
.why_chos.wychotwo li a {
	background: #800225;
	font-size: 15px;
	line-height: 24px;
	border: 0;
	color: #fff;
	padding: 2px 10px;
	width: auto;
	text-align: center;
	float: right;
}
.dt_bkng_rt a {
	background: #800225;
	font-size: 15px;
	line-height: 24px;
	text-transform: uppercase;
	border: 0;
	color: #fff;
	padding: 9px 0;
	width: 160px;
	display: block;
	text-align: center;
	margin-top: 14px;
}
.vdeo_sc_cont_top a {
	background: #800225;
	font-size: 15px;
	line-height: 24px;
	text-transform: uppercase;
	border: 0;
	color: #fff;
	padding: 9px 0;
	width: 160px;
	display: block;
	text-align: center;
}
.top_secn_r .mnu_lg ul {
	display: none;
	background: #363636;
	position: absolute;
	right: 0;
	top: 22px;
	width: 130px;
	z-index: 9999;
}
.top_secn_r .mnu_lg {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.top_secn_r .mnu_lg a {
	background: #363636 url(../images/select-aroh-sml.png) 85% center no-repeat;
	padding: 6px 14px 6px 6px !important;
	text-align: center;
}
.top_secn_r .mnu_lg a img {
	margin: 0 auto;
	display: block;
}
.top_secn_r .mnu_lg li a {
	background-image: none;
	padding: 6px 0 !important;
	color: #fff;
	display: block;
	border-bottom: 1px dashed #fff;
	width: 85%;
	margin: 0 auto;
	font-size: 14px;
}
.top_secn_r .mnu_lg li:last-child a {
	border: 0;
}
/*----------02-04-2020 ne css---------*/
.sltbook {
	overflow: hidden;
	border-bottom: 1px solid #e2e2ea;
	margin-bottom: 14px;
}
.sltbook .slt_bk_dt {
	background: url(../images/abt-roi-ins-ig-l.png) 0 0 no-repeat;
	font-size: 17px;
	float: left;
	padding: 8px 0 8px 44px;
	width: 190px;
	text-align: left;
	line-height: 19px;
	margin-top: 18px;
	background-size: 30px;
}
.sltbook .slt_bk_icn {
	background: url(../images/book-icon.png) 0 0 no-repeat;
	float: right;
	width: 89px;
	height: 80px;
}
.slt_bok_sce {
	padding-top: 40px;
}
.slt_bok_sce .cour_dtl_dv {
	border-bottom: 3px solid #850c2e;
	padding-bottom: 5px;
}
.mbr_prof_pp {
	background: #f0f0f4;
	border-bottom: 3px solid #850c2e;
	padding: 30px 3%;
	text-align: center;
}
.mbr_prof_dv_lf {
	float: left;
	width: 28%;
}
.mbr_prof_pp span {
	display: block;
}
.mbr_prof_pp strong {
	display: block;
	font-size: 28px;
	line-height: 28px;
	text-transform: uppercase;
	color: #363636;
	padding: 20px 0 0;
}
.mbr_prof_dv_rt {
	float: left;
	width: 68%;
	margin: 0 0 0 4%;
}
.mbr_prof_sc {
	padding: 60px 0;
	border-top: 8px solid #f0f0f4;
}
.mbr_prof_dv_rt li {
	padding: 16px 0;
}
.mbr_prof_dv_rt li span {
	width: 20%;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 22px;
}
.mbr_prof_dv_rt li strong {
	width: 63%;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
}
.mbr_prof_dv_rt li a {
	text-decoration: underline;
	color: #800225;
	font-size: 15px;
}
.mbr_prof_dv_rt li a:hover {
	text-decoration: none;
}
/*----------03-04-2020 ne css---------*/

.activ_inact_rdo input[type="radio"] {
	opacity: 0;
	display: none;
}
.activ_inact_rdo td label {
	position: relative;
	padding-left: 36px;
}
.activ_inact_rdo input[type="radio"] + label::after {
	display: block;
	content: '';
	position: absolute;
	border: 1px solid #850c2e;
	border-radius: 100%;
	height: 27px;
	width: 27px;
	top: 0;
	left: 0px;
	bottom: 0;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
	margin: auto;
}
.activ_inact_rdo input[type="radio"] + label::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 15px;
	width: 15px;
	top: 0;
	left: 6px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	bottom: 0;
	margin: auto;
	background: #fff;
}
.activ_inact_rdo input[type="radio"]:checked + label:before {
	background: #850c2e;
}
.activ_inact_rdo label {
	padding-left: 40px;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}
.activ_inact_rdo p {
	display: inline-block;
	margin-right: 12px;
	position: relative;
}
.activ_inact_rdo button {
	background: #800225;
	font-size: 15px;
	line-height: 17px;
	text-transform: uppercase;
	border: 0;
	color: #fff;
	padding: 12px 0;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	width: 158px;
}
.cour_in_btm strong {
	font-size: 28px;
	text-transform: uppercase;
	color: #363636;
	display: inline-block;
	width: 49%;
	vertical-align: middle;
}
.activ_inact_rdo {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}
.cour_in_btm {
	background: #f0f0f4;
	padding: 24px;
	border-bottom: 3px solid #850c2e;
}
.cour_in_top {
	background: #f0f0f4;
	padding: 24px;
	border-bottom: 3px solid #850c2e;
	margin-bottom: 47px;
}
.cour_in_top h3 {
	font-size: 28px;
	text-transform: uppercase;
	color: #363636;
	border-bottom: 1px solid #d9d9e3;
	margin-bottom: 30px;
	padding-bottom: 30px;
	font-weight: 700;
}
.cour_in_top_lf {
	float: left;
	width: 74%;
}
.cour_in_top_rt {
	float: right;
	width: 22%;
}
.red_gola {
	background: #800225;
	border-radius: 50%;
	width: 164px;
	height: 164px;
	text-align: center;
	color: #fff;
}
.red_gola span {
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: #fff;
	display: block;
	padding-top: 60px;
}
.red_gola strong {
	font-size: 34px;
	display: block;
	line-height: 38px;
	color: #fff;
	font-weight: 600;
}
.curs_nme_dv p {
	font-size: 14px;
	display: block;
	line-height: 18px;
	color: #363636;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: 400;
}
.curs_nme_dv p strong {
	font-size: 18px;
	display: block;
	line-height: 22px;
	color: #363636;
	font-weight: 700;
	text-transform: uppercase;
}
.dtes strong {
	background: url(../images/abt-roi-ins-ig-l.png) 0 0 no-repeat;
	font-size: 17px;
	padding: 2px 0 20px 44px;
	width: 100%;
	text-align: left;
	line-height: 19px;
	margin-bottom: 18px;
	display: block;
	border-bottom: 1px dashed #aaa;
}
.mbr_prof_pp.chkout_in ul {
	border-top: 1px solid #d9d9e3;
	padding-top: 18px;
	margin-top: 18px;
}
.mbr_prof_pp.chkout_in ul li {
	text-align: left;
	padding: 6px 8px;
	overflow: hidden;
}
.mbr_prof_pp.chkout_in ul li span {
	float: left;
	font-size: 15px;
	width: 38%;
}
.mbr_prof_pp.chkout_in ul li strong {
	float: right;
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	padding: 0;
	width: 55%;
	text-transform: inherit;
}
.dt_bkng_rt strong {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	margin: 0;
	color: #363636;
	font-weight: 500;
}
.dt_bkng_rt span {
	display: inline-block;
	background: url(../images/cal-icn-sm.png) 0 0 no-repeat;
	width: 18px;
	height: 19px;
	vertical-align: middle;
	margin-right: 5px;
}
.dt_bkng_rt_prc_bnt {
	display: inline-block;
	vertical-align: bottom;
}
.dt_bkng_rt_prc {
	font-size: 14px;
	line-height: 14px;
	color: #363636;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.dt_bkng_rt_prc strong {
	display: block;
	font-size: 31px;
	line-height: 31px;
	color: #800225;
	font-weight: 700;
}
.cor_prc strong {
	display: block;
	font-size: 31px;
	line-height: 31px;
	color: #800225;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}
.is-sticky #header-nav {
	box-shadow: 0 0 4px rgba(0,0,0,.2);
	width: 100%;
	z-index: 99999;
	background: #fff;
}
#header-nav-inr {
	top: 121px !important;
}
.card .form-control, .mbr_prof_dv .form-control {
	background: #fff;
	border: 0;
	width: 100%;
	border-radius: 0;
	padding: 2%;
}
.card .btn.btn-primary {
	border-radius: 0;
	background: #800225;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 40px;
	margin: 20px 0;
	cursor: pointer;
}
.card {
	margin: 20px 0;
}
.card .btn-link {
	color: #800225;
	padding:0;
}
.mbr_prof_dv .form-horizontal .btn.btn-primary {
	border-radius: 0;
	background: #800225;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 40px;
	display: block;
	margin: 20px 0;
	cursor: pointer;
}
.card.lon_page_rg {
	border: 0;
	background: #f0f0f4;
	border-radius: 0;
}
.lon_page_rg label {
	display: none;
}
.lon_page_rg .form-group.row .col-md-6 {
	width: 100%;
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0;
}
.lon_page_rg .form-group.row {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.lon_page_rg .card-header {
	color: #363636;
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	background: #f0f0f4;
	border-radius: 0;
}
.lon_page_rg .form-check .form-check-label {
	display: block;
}
.lgne_btn_dv {
	margin: 0;
	float:right;
}
.rmbr_lgne .form-check {
	float:left;
	padding:0;
}
.rmbr_lgne{overflow:hidden; width:100%; border-bottom:1px solid #d9d9e3; margin-bottom:15px; padding-bottom:50px;}
.rmbr_lgne .form-check [type="checkbox"] + label {
    padding: 0 0 0 52px;
    height: 38px;
    cursor: pointer;
    color: #35363a;
    font-size: 93%;
    line-height: 38px;
    text-align: left;
    text-transform: none;
    background: url("../images/blnk.png") 0 center no-repeat;
}
.rmbr_lgne .form-check [type="checkbox"]:checked + label {
	background: url("../images/chkd.png") 0 0 no-repeat;
	
}
.rmbr_lgne .form-check .form-check-input{opacity:0;}
.lgne_btn_dv .btn.btn-primary {
    margin: 0;
}
.li-col {
    color: #363636;
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    padding: 5px 0;
}
.head.mb-3.px-3,ul.px-3 {

    padding: 0 !important;
    margin: 0;

}
.lon_page_rg_mle {
    margin: 0 auto;
}